<!-- http://ramp2bombkadwvgz.onion/viewtopic.php?id=4113 -->
{% extends "base.html" %}
{% block content %}
<div class='box'>
  <!-- <button action='' class='step'>step</button> -->
</div> 
<script type="text/javascript">
	// config
	step = '30';
	delay = 50;
	// username = '<sup><input type="text" name="username" class="username"/></sup><br>'
	username = '';


	// console.log({{users|safe}});
	$.map({{users|safe}}, function( n ) {
	  console.log(n);
	  $('.box').append('<div class="square" data-userid="' + n + '"><div class="black"></div><div class="userid">' + n + '</div>');
	});


	var socket = io('http://at-no.ru:5000/');
	socket.on('new_connection', function(msg){
		console.log('new user!', msg);
		$('.box').append('<div class="square" data-userid="' + msg['userid'] + '"><div class="black"></div>' + username + '<div class="userid">' + msg['userid'] + '</div>');
		
		console.log('iam is', socket.id);
		$('div[data-userid="' + socket.id + '"] .black').css('background-color', 'red');

	});
	socket.on('new_disconnection', function(msg){
		console.log('bye bye user', msg);
		$('div[data-userid="' + msg['userid'] + '"]').remove();
	});


	socket.on('step', function(msg){
		console.log(msg);
		if (msg['userid'] != socket.id) {
			$('div[data-userid="' + msg['userid'] + '"]').css({'left': msg['xy']['xy'].left, 'top': msg['xy']['xy'].top});
		}
	});
	

	$(document).keydown(function(e) {
		var me = $('div[data-userid="' + socket.id + '"]');
	    switch(e.which) {
	        case 37: // left
	        console.log('left');
	        me.css('left', me.position().left - 15);
	        socket.emit('step', {'userid': socket.id, 'xy': me.position()});
	        break;

	        case 38: // up
	        console.log('up');
	        me.css('top', me.position().top - 15);
	        socket.emit('step', {'userid': socket.id, 'xy': me.position()});
	        break;

	        case 39: // right
	        console.log('right');
	        me.css('left', me.position().left + 15);
	        socket.emit('step', {'userid': socket.id, 'xy': me.position()});
	        break;

	        case 40: // down
	        console.log('down');
	        me.css('top', me.position().top + 15);
	        socket.emit('step', {'userid': socket.id, 'xy': me.position()});
	        break;

	        default: return; // exit this handler for other keys
	    }
	    e.preventDefault(); // prevent the default action (scroll / move caret)
	});


</script>
{% endblock %}